<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 no-pb">
                <a href="index.html"><img src="/images/footer-logo.png" alt="Manala" /></a>
            </div>
            <div class="col-sm-4 no-pb github text-center">
               <a href="https://github.com/manala" target="_blank"><img src="/images/github.png" alt="Manala" /></a>
            </div>
            <div class="col-sm-4 no-pb elao">
                Made with love by <a href="https://www.elao.com" target="_blank"><img src="/images/elao-logo.png" alt="Elao" /></a>
            </div>
        </div>
    </div>
</footer>

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-16586014-9', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
