
<h1> Foreword</h1>
<div class="row">
    <div class="col-sm-9">
        <ul>
            <li>All this recipe assume <strong class="orange">you know Ansible</strong> and are familiar with is use, to know more about Ansible itself you can go to <a href="http://docs.ansible.com/" target="_blank">Ansible documentation</a></li>
            <li>You can find our default skeleton for files organisation here: </li>
            <li>At last, but not least, before configure your new environment, please consider to follow the <a href="#">basic environment setup</a>.</li>
        </ul>
    </div>
</div>
