{{ partial "head.html" . }}
<body class="homepage">

    <header class="header">
        {{ partial "nav.html" . }}

        <div class="container">
            <div class="lead">The flexible, robust, and web oriented toolbox for Ansible.</div>
            <div class="manala">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
                <div class="circle circle-4"></div>
                <div class="circle circle-5"></div>
                <div class="circle circle-6"></div>
                <img src="/images/manala-header.png" alt="Manala" />
            </div>
        </div>
    </header>

    <div class="main container">
        <div class="intro">
            <h1>A bunch of guidelines to rules them all !</h1>
            <p>The Manala project was made to use Ansible roles created by Elao to handle web environments and more, it provides configuration examples and best practices to fast build custom-designed infrastructures.</p>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-ansible.png" alt="" /></p>
                <p>We choosed Ansible as IT automation tool regarding is simplicity and reliability. We are using it to build our infrastructures and we are convinced this is the way to go.</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-vagrant.png" alt="" /></p>
                <p>Vagrant is a classic in a developer stack, used to ensure everyone works on the same environment, Vagrant boxes are of course provisioned using Ansible roles.</p>
            </div>
            <div class="col-sm-4 text-center">
                <p><img src="/images/logo-docker.png" alt="" /></p>
                <p>Docker is the last but not the least, we first used it for test coverage to build CI environment on demand, this last time we are using it for scalability needs of large projects.</p>
            </div>
        </div>
        <!--<div class="intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, sint.</p>
            <p><a href="#" class="btn">Getting start</a></p>
        </div>-->
    </div>

    {{ partial "footer.html" . }}
</body>
</html>
